<h1>Listing people</h1>

<%= form_tag @person_path, :method => :get do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %><br />
  <%= submit_tag "Search" %>
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.surname %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= paginate @people %>

<br />

<%= link_to 'New Person', new_person_path %>
