
    <h2>Listing my peeps</h2>

    <%= form_tag @person_path, :method => :get do %>
      <%= label_tag :search %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>

	<h2><%= @people.size %></h2>
    <table>
      <tbody id="results_body">
      <tr>
        <th>Pic</th>
        <th>Name</th>
      </tr>

    <% @people.each do |person| %>
      <tr id="results">
        <% url = person.get_primary_photo_tag %>
        <td><%= image_tag(url) if !url.blank? %></td>
        <td><%= link_to person.fullname_surname_first, person %></td>
<!--        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @people %>

<br />

<div>
  <h2>Create new person</h2>
</div>
<%= simple_form_for(Person.new, :url => people_path, :method => :post, :remote => true) do |f| %>
    <%= f.input :name %>
	<%= f.input :surname %>
    <%= f.submit %>
<% end  %>

<%= link_to 'New Person', new_person_path %>
