<p id="notice"><%= notice %></p>

<!--                            -->
<!-- Display the CART somewhere -->
<!--                            -->
<div class="row">
  <div class="large-12 small-12 columns">
	<h5>This is the shopping cart:</h5>
	<%= current_cart.cart_items.count %> artiklar
	<% sum = 0.0 %>
	<% for item in current_cart.cart_items %>
		<% sum = (1 * 5) %>
	<% end %>
	<%= sum %> kr
	<hr>
	<%= link_to "Checkout", present_checkout_view_path %>
  </div>
</div>

<hr>

<div class="row">
  <div class="large-12 small-12 columns">
	<%= link_to "Search", people_path %>
  </div>
</div>

<hr>

<h1>This is the site of: <%= @person.fullname %></h1>


<!--                                                   -->
<!-- <div> with id=tabs will be handled by jquery code -->
<!--                                                   -->
<div class="row">
  <div class="large-12 small-12 columns">

	<h5>Events in <%= @person.fullname %>'s life</h5>
	<% @person.events.each do |evt| %>
		<h4 class="event"><%= evt.name %></h4>
		<p class="event"><%= evt.date %></p>
		<p class="event"><%= evt.comment %></p>
	<% end %>

	<hr>

	<h5>Stories</h5>
	<% @person.stories.each do |st| %>
		<h4><%= st.title %></h4>
		<p><%= st.content %></p>
		<hr>
  <% end %>

	<hr>

	<%= image_tag("placeholder_image.jpg") %>

	<hr>

	<% @person.photos.each do |p| %>
			<%= image_tag(p.image) %>
			<div class="orbit-caption"><%= p.image_file_name %></div>
	  <% end %>

  </div>
</div>



<!--                            -->
<!-- Display the CART somewhere -->
<!--                            -->
<div class="row">
  <div class="large-12 small-12 columns">
	<ul>
		<li>Would you like to contribute a story about <%= @person.fullname %>? Then click
	  here: <%= link_to "Add Story", person_add_story_path(@person) %> </li>
		<li>Would you like to buy an item to salute the memory of <%= @person.fullname %>? Then click
	  here: <%= link_to "Buy Item", products_path %> </li>
	</ul>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">
	<fieldset>
	  <legend>Administrators</legend>
	  <% @person.admins.each do |adm| %>
		  <div class="admin"><%= adm.email %></div>
	  <% end %>
	</fieldset>
  </div>
</div>

