<h1>Listing cards</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cc type</th>
    <th>Cc number</th>
    <th>Cc cvc</th>
    <th>Cc exp month</th>
    <th>Cc exp year</th>
    <th>Cc name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_cards.each do |card| %>
  <tr>
    <td><%= card.user_id %></td>
    <td><%= card.cc_type %></td>
    <td><%= card.cc_number %></td>
    <td><%= card.cc_cvc %></td>
    <td><%= card.cc_exp_month %></td>
    <td><%= card.cc_exp_year %></td>
    <td><%= card.cc_name %></td>
    <td><%= link_to 'Show', credit_card %></td>
    <td><%= link_to 'Edit', edit_credit_card_path(card) %></td>
    <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New CreditCard', new_credit_card_path %>
