<h1>Listing credit_cards</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cc number</th>
    <th>Cc cvc</th>
    <th>Cc exp year</th>
    <th>Cc exp month</th>
    <th>Cc name</th>
    <th>Cc type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.user_id %></td>
    <td><%= credit_card.cc_number %></td>
    <td><%= credit_card.cc_cvc %></td>
    <td><%= credit_card.cc_exp_year %></td>
    <td><%= credit_card.cc_exp_month %></td>
    <td><%= credit_card.cc_name %></td>
    <td><%= credit_card.cc_type %></td>
    <td><%= link_to 'Show', credit_card %></td>
    <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
    <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit card', new_credit_card_path %>
