<div class="large-12 small-12 columns">
  <div class="row app_debug">

    <h3>DEBUG</h3>
    <h4>Params hash</h4>
    <h5><%= params.inspect %></h5>
    <h4>Sessions hash</h4>
    <h5><%= session.inspect %></h5>
    <h4>Error messages</h4>
    <h5><%= flash.inspect %></h5>

    <h5>Errors:</h5>
    <% if flash[:error] -%>
        <p class='error'><%= h flash[:error] %></p>
    <% end -%>

    <h5>Notices:</h5>
    <% if flash[:notice] -%>
        <p class='notice'><%= h flash[:notice] %></p>
    <% end -%>

    <% if current_user %>
        <% current_user.authentications.each do |a| %>
            <h5>user_id:<%= a.user_id %></h5>
            <h5>provider:<%= a.provider %></h5>
            <h5>uid:<%= a.uid %></h5>
            <h5>token:<%= a.token %></h5>
            <h5>token_secret:<%= a.token_secret %></h5>
        <% end %>
    <% end %>

  </div>
</div>

