<div class="row">
  <div class="wrapper large-12 columns">
    <h1>Catchphrase here</h1>
  </div>
</div>

<div class="large-2 columns">

  <div class="alert-panel" data-alert>
    <div class="alert-panel-title">
      Holy Smokes, You Can't Press That!
      <!-- a href="#" class="alert-panel close">&times;</a  -->
    </div>
    <div class="alert-panel-message">
      I think you meant to press a different button on the page. Please Try again, thank you!
    </div>
    <div class="alert-panel-action">
      <a href="#" class="small button radius secondary">Cancel</a>
      <a href="#" class="small button radius">Continue</a>
    </div>
  </div>

  <div class="pink_panel">
    <ul>
      <h5>Recently added sites</h5>
      <% @people_created_lately.each do |p| %>
          <li><%= link_to p.name, person_path(p) %></li>
      <% end %>
    </ul>
  </div>

  <div class="cyan_panel callout">
    <ul>
      <h5>Recently modified sites</h5>
      <% @people_updated_lately.each do |p| %>
          <li><%= link_to p.name, person_path(p) %></li>
      <% end %>
    </ul>
  </div>

  <div class="panel callout">
    <ul>
      <h5>Recently visited sites</h5>
      <% @people_with_activity.each do |clk| %>
          <% if clk.person && clk.person.name %>
              <li><%= link_to clk.person.name, person_path(clk.person) %></li>
          <% end %>
      <% end %>
    </ul>
  </div>

</div>  <!-- large-2 columns -->


<div class="wrapper large-8 columns">

  <div class="row">
    <div class="large-3 columns">

    </div>
    <div class="large-9 columns">

      <!--
      <ul class="right button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
      </ul>
      -->

    </div>
  </div>

  <!-- End Header and Nav -->


  <!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns">
      <div id="slider">
        <div class="preloader"></div>

        <ul data-orbit>
          <li data-orbit-slide="headline-1">
            <%= image_tag "welcome1-1000x400.png", :style => 'width:100%;height:100%;' %>
            <!-- <div class="orbit-caption">Remember your loved ones</div> -->
          </li>
          <li data-orbit-slide="headline-2">
            <%= image_tag "welcome2-1000x400.png", :style => 'width:100%;height:100%;' %>
            <!-- <div class="orbit-caption">Remember your loved ones</div> -->
          </li>
          <li data-orbit-slide="headline-3">
            <%= image_tag "welcome3-1000x400.png", :style => 'width:100%;height:100%;' %>
            <!-- <div class="orbit-caption">Remember your loved ones</div> -->
          </li>
        </ul>

      </div>

      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Recently added sites!</h4>
      </div>
    </div>
  </div>


  <div class="row">
    <% @people_created_lately.each do |p| %>
        <%= content_tag :div, :class => 'large-4 columns' do %>
            <img src="http://placehold.it/400x300&text=[img]"/>
            <h4>This is a GENERATED content section.</h4>

            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
              reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
              reprehenderit
              culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <% end %>
    <% end %>
  </div>

  <div class="row">
    <% (1..3).each do |x| %>
        <%= content_tag :div, :class => 'large-4 columns' do %>
            <img src="http://placehold.it/400x300&text=[img]"/>
            <h4>This is a GENERATED content section.</h4>

            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
              reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
              reprehenderit
              culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <% end %>
    <% end %>
  </div>

  <div class="row">
    <% (1..3).each do |x| %>
        <%= content_tag :div, :class => 'large-4 columns' do %>
            <img src="http://placehold.it/400x300&text=[img]"/>
            <h4>This is a GENERATED content section.</h4>

            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
              reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
              reprehenderit
              culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <% end %>
    <% end %>
  </div>


  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <h5>Welcome <%= current_user.email if current_user %></h5>

  <% if current_user %>
      <h1>Select one of your sites</h1>
      <ul>
        <% current_user.clients.each do |p| %>
            <li><%= link_to p.fullname, edit_person_path(p) %></li>
        <% end %>

        <h3>Recently created sites:</h3>
        <% @people_created_lately.each do |p| %>
            <h5><%= link_to p.fullname, person_path(p) %></h5>
        <% end %>

        <h3>Recently updated sites:</h3>
        <% @people_updated_lately.each do |p| %>
            <h5><%= link_to p.fullname, person_path(p) %></h5>
        <% end %>
      </ul>

      <%= link_to "Add new site", new_person_path %>
  <% else %>

      <h5>Recent activity:</h5>
      <% @people_with_activity.each do |c| %>
          <% if c.person %>
              <h5><%= link_to c.person.fullname, person_path(c.person) %>(clicks:<%= c.count %>)</h5>
          <% else %>
              <h1>ERROR IN DATA</h1>
          <% end %>
      <% end %>

  <% end %>


</div>

<div class="wrapper large-2 columns">
  <div class="alert-panel" data-alert>
    <div class="alert-panel-title">
      Holy Smokes, You Can't Press That!
      <!-- a href="#" class="alert-panel close">&times;</a  -->
    </div>
    <div class="alert-panel-message">
      I think you meant to press a different button on the page. Please Try again, thank you!
    </div>
    <div class="alert-panel-action">
      <a href="#" class="small button radius secondary">Cancel</a>
      <a href="#" class="small button radius">Continue</a>
    </div>
  </div>

  <div class="pink_panel">
    <ul>
      <h5>Recently added sites</h5>
      <% @people_created_lately.each do |p| %>
          <li><%= link_to p.name, person_path(p) %></li>
      <% end %>
    </ul>
  </div>
</div>
