<h1>Checkout</h1>
<h3>Items in cart:</h3>
<table>
  <% for item in current_cart.cart_items %>
	  <tr class="<%= cycle :odd, :even %>">
		<td><%= h item.product.name %></td>
		<td><%= h item.person.fullname %></td>
		<td><%= item.qty %></td>
		<td><%= item.price %></td>
		<td><%= link_to "Remove ", {:controller => "carts", :action => "remove_item", :id => item.product_id} %></td>
	  </tr>
  <% end %>
</table>
<li><%= link_to "Pay with credit credit_card", credit_card_payment_path %></li>
<li><%= link_to "Pay with PayPal", paypal_payment_path %></li>

